import {FC} from "react"

import styles from "./{{pascalCase name}}.module.css"

type {{pascalCase name}}Props = {}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => {
    return (
        <div className={ styles.{{camelCase name}} }>
            {{pascalCase name}}
        </div>
    )
}

export default {{pascalCase name}}
